---
---

$sidebar-bg-color: #fff;
$sidebar-title-color: #835EB5;
$sidebar-text-color: #565656;
$sidebar-icon-color: #323232;
$sidebar-link-color: #323232;
$sidebar-width: 16rem !default;

$link-color: #005DA9;
$sidebar-sticky: false;
$code-color: #FF688C;
$heading-color: #555EB2;
$root-line-height: 1.45;
$heading-spacing: 0.8rem;
$section-spacing: 1.5rem;
//$sidebar-width: 12rem;
$large-font-size: 1.05rem;
@import "hydeout";
